/* Fix uncentered alert message */
.mui-style-1pxa9xg-MuiAlert-message {
    margin: auto 0 !important;
}

.mui-style-p39m25-MuiTableCell-root {
    max-width: 300px;
    overflow: hidden;
}

/* Make button bar transparent */
/* .mui-style-16lloyr-MuiBottomNavigation-root {
    background: transparent !important;
}

.mui-style-17hxbah-MuiBottomNavigation-root {
    background: transparent !important;
} */

.mui-style-1u6bbk9-MuiButtonBase-root-MuiBottomNavigationAction-root {
    background: white !important;
    border: 0 !important;
    /* opacity: 0.8; */
}

.mui-style-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    /* background: transparent!important; */
    background: rgb(128,128,128, 0.2)
}
/* Responsive table */
/* .mui-style-5plflh-MuiTableCell-root {
    min-width: unset !important
} */
/* Responsive table */

/* .mui-style-5ad73w-MuiPaper-root-MuiDialog-paper{
    display: none!important;
} */